<div class="box_div">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
<h1> Here are the names that you chose, which are now randomly paired. If you want to randomly pair more names, then feel free to click the back button below. </h1>
<form method = "post" action = "random_pairs_final_page">
</form>
<input class = "button" type = "submit" value = "Back">
</body>
</div>